.gridContainer {
    display: grid;
    grid-template-columns: 160px 160px;
    grid-gap: 20px;
   

    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);

}

.gridItem{
  grid-column: 1 / 3;
}