.icondashboard3{
    place-items: center;
    width: 28px;
    height: 28px;
  }

  .cardstyle {
    display: flex;
    padding-top: 30px;
  }
  .showmore{
   display: block; 
   margin: auto;
    background-color:#37B6FF;
  }
  .kartu {
    margin-right: 50px;
    height: 150px;
    background-color: #f7f7f7;
  }
  .kartu2 {
    margin-right: 50px;
    /* height: 450px; */
    background-color: #f7f7f7;
    width: 30rem;
  }
   .kartu3 {
    margin: 30px 50px 20px 0px;
    height: 100px;
    background-color: #f7f7f7;
    width: 50rem;
  }
  .iconDashboard {
    height: 32px;
    width: 32px;
    margin-bottom: 13px;
  }
  .iconDashboard2 {
    height: 65px;
    width: 65px;
    margin-bottom: 1px;
  }
  
  .cardtext {
    font-size: 14px;
    font-weight: 100;
  }
  .title {
    font-weight: 500;
    font-size: 30px;
  }
  .DateSchedule {
    text-align: center;
    padding-top: 10px;
  }
  .infoJadwal {
    margin: 10px;
  }